body{
	background-image: url('https://pastornotes.files.wordpress.com/2014/11/yellow-stripes-road.jpg');
}

/*Car Animation*/
@keyframes front{
	0%{
		margin-left: 25%;
		margin-top: 170px;
		/*choose image size at the beginning*/
		transform: scale(0.7);

	}
 
 	100%{
 		margin-left: 20%;
 		margin-top: 200px;
 		/*then change the size however you want it to be*/
 		transform: scale(1.3);
 	}
}

/*Animation and car effect/styling*/
.front{
	background: url("images/cars.png");
	background-repeat: no-repeat;
	height: 550px;
	width: 715px;
	animation-timing-function: ease-in-out;
	animation-duration: 5s;
/*	animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-name: front;
	margin-left: 40px;
	margin-top: 240px;
}

/*fly-off effect and style*/
.fly_off {
    padding-top: 50px;
    width: 15px;
    height: 40px;
    color: white;
    top: 90px;
	margin-left: 800px;
    transition: transform 4s;
  
}

.fly_off:hover { 
    
    transform: translate(0px, -800px);

}