body{
  text-align-last: center;
  background-color: rgb(230, 242, 255);
}

/*text style*/
div,h1,h2,p{
  color: #DE4BAB; 
  font-family: "Cabin Sketch",cursive;
  font-size: 32px;
  font-style: normal bold;
  font-variant: normal;
  font-weight: 500;
  display: inline;
  position: relative;
  }

/*contact info positioning*/
 h2{
    top:250px;
    right: 270px;
    position: fixed;
    font-size: 60px;
 } 

/*form positioning*/
form{
    position: fixed;
    margin-top: 400px;
    left: 630px;
    padding-left: 20px;
 }

/*gallery link positioning*/
.gallery{ 
  font-size: 45px;
  left: 320px;
  top:0;
}

/*Contact link positioning*/
.contact{
  font-size: 45px;  
  right: 360px;
  top:0;
}

/*Icon Positioning--links to home */
.burger{
  border: 0;
  position: fixed;
  top:20px;
  right: 845px;
}

/*Link to home*/
.home{ font-size: 70px; }

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

/*icon animation*/
/* make keyframes that tell the start state and the end state of our object */
@keyframes fadeIn {
  from { margin-top: 200px;}
  to { opacity:0.91;} 
}
 
h1,h2,form,.fade-in.burger{
  opacity:0;   /* make things invisible upon start */  
  animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation-fill-mode:forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-duration:3s;
}

/*Main Icon Positioning*/
.burger{
  padding-right: 20px;
}

/*footer positioning*/
footer{
    background-attachment: fixed;
    position: absolute;
    text-align: center;
    bottom:20px;
    left: 760px;
}