/*background style*/
body{
	background-color: black;
	min-width: 400px;
	min-height: 400px;
}

/*Style for Navigation links*/
#main{
	color: white;
	font-size: 20px;
	font:"Cabin Sketch";
	font-size: 24px;
	line-height: 26.4px;
	overflow: auto;
	font-weight: 500;
	width: 100%;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding:0px;
    width: 200px;
   	background-color: #282525;
   	list-style-type: none;
   	margin-left: -15px;
   	padding-right: 10px;
   	border: 1px dotted #;
   	height: 1500px;
   	position: absolute;
}
	
li{
	font-weight: 500;
    letter-spacing: 1.5px;
    margin: 30px;
    padding: 20px 20px 15px 18px;
    display: block;
    text-decoration: none;
    border-bottom: 1px dotted black;

}

a:link{
	color: white;
}

a:visited{
	color: lightblue;
}

/*Heading and paragraph style*/
h1,h3,p{
	color: white;
	border-radius: 25%;
	padding: 30px;
	width: 550px;
	text-align: center;
	font-family: "Playfair Display",serif;
	position: normal;
}

.header{
	font-size: 40px;
	width: 50%;
	padding-bottom: 20px;
	margin-left:35%;
	color: rgb(195,0,75);
}

h3{
	font-size: 40px;
	border: 8px dotted #E2BB00; 
}

p{
	background-color: rgb(201,50,50);
	border: 8px dotted #E2BB00; 
}

p, h3{
	text-shadow: 1px 1px 1px #282585;
}

h5{
	color: white;
	padding-left: 800px;
	padding-top: 200px;
}


/*Paragraph 1 positioning on page*/
.Poem1{
	float: left;
	padding-left: 250px;
	padding-bottom: 50px;
}

/*Other paragraphs positioning on page*/
.Poem2{
	float: right;
}

/*image positioning*/
img{
	position: center;
	border-radius: 95px;
	padding-left:270px;
	width: 600px;
}

